
.Login{
    padding-top:15%
}
.lcontainer{
    width:40%;
   
    margin-left:auto;
    margin-right:auto;

   
    display: flex;
    flex-direction: column;
    justify-content: center;
gap:10px;
}

.lInput{
   padding:5%;
   text-align: center;
    
}


.lButton{
    border:none;
    padding:10px 20px;
    background-color: #0071c2;
    color:white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.lButton:disabled{
background-color: #0071c28c;
cursor: not-allowed;
}