.paymentPage{
    width:100%;
    /* background-color: cyan; */
 
}
.payImg{
    background-color: black;
    height:65vh;
    width: fit-content;
    margin-left: 50%;

    transform: translateX(-50%);
}

.payy{
    margin-left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    background-color: #0071c2;
    border:none;
    border-radius: 20px;
    padding:10px;
    color:white;
}